<template>
  <v-app>    
    <v-layout>
     <v-toolbar color="indigo" dark>
        <v-toolbar-title>{{stateEmail}}</v-toolbar-title>
        <v-spacer/>
        <h1>Cuentas</h1>
        <v-spacer/>
        <v-btn @click="logout">Logout</v-btn>
      </v-toolbar>
    </v-layout>

    <v-layout class="justify-center">
      <v-flex md5>
          <h1  style="color:darkblue">Crear Cuenta</h1>

          <v-form ref="createForm">
                <v-text-field 
                label="Correo electrónico"
                v-model="email"
                :error-messages="emailErrors"
                outlined 
                placeholder="ej.sergio@churrasco.cc"
                @input="$v.email.$touch()"
                @blur="$v.email.$touch()"
                required/>
               
                 <v-text-field 
                label="Nombre"
                v-model="name"
                :error-messages="nameErrors"
                outlined 
                placeholder="Nombre"
                @input="$v.name.$touch()"
                @blur="$v.name.$touch()"
                required/>

                <v-text-field 
                label="Apellido"
                v-model="lastname"
                outlined 
                placeholder="Apellido"
                />

                <v-text-field 
                label="Avatar url"
                v-model="avatar"
                outlined 
                placeholder="url"
                />
                <v-avatar
                  size="64px"
                  >
                  <img
                  v-if="avatar"
                  :src="avatar"
                  >
                  <v-icon
                  v-else
                  >mdi-account-circle</v-icon>
                </v-avatar>      
                 <v-btn
            color="error"
            class="mr-4"
            @click="reset"
          >
            Reset Form
          </v-btn>
           
          <v-btn
            color="success"
            class="mr-4"
            @click="save"
          >
            Save
          </v-btn>          
          </v-form>
        
         
        <v-spacer/>
        <v-divider/>
        <h1  style="color:darkblue">Lista de Cuentas</h1>

        <v-list three-line>
          <template v-for="(item, index) in accounts">
        
            <v-divider
              v-if="true"
              :key="index"
              :inset="item.inset"
            ></v-divider>

            <v-list-item
              :key="item.email"
            >
              <v-list-item-avatar>
                <v-img :src="item.avatar"></v-img>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title v-html="item.name + ' ' + item.lastname"></v-list-item-title>
                <v-list-item-subtitle v-html="item.email"></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list>
      </v-flex>    
    </v-layout>
    <v-footer color="blue-grey lighten-4" height="80" >
      <v-spacer></v-spacer>
      <div>
          <label>Copyright 2019 - </label>  
          <a href="https://www.testcompany.com">TestCompany</a>
      </div>
      <v-spacer></v-spacer>
    </v-footer>   
  </v-app>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import { required, email } from 'vuelidate/lib/validators'

export default {
  name: 'Accounts',

  data () {
    return {
      email: '',
      name: '',
      lastname: '',
      avatar: ''
    }
  },
  created () {
    if(this.stateEmail == ''){
      alert('Oops no hay nadie logueado!.')
      this.$router.push('/Login')
    }  
  },
  validations: {
      email: {required, email},
      name: {required},
  },
  methods: {
    ...mapMutations(['createAccount', 'clearEmail']),

    save(){
      let payload = {
        email: this.email,
        name: this.name,
        lastname: this.lastname,
        avatar: this.avatar
      }
      this.createAccount(payload)
    },
    reset () {
      this.$refs.createForm.reset()
    },
    logout(){
      this.clearEmail()
      this.$router.push('/Login')
    }
  },
  computed: {
    ...mapState(['stateEmail', 'accounts']),

    emailErrors () {
          const errors = []
          if (!this.$v.email.$dirty) return errors
          !this.$v.email.email && errors.push('El e-mail debe ser valido.')
          !this.$v.email.required && errors.push('E-mail requerido.')
          return errors
    },
    nameErrors () {
        const errors = []
        if (!this.$v.name.$dirty) return errors
        !this.$v.name.required && errors.push('Nombre requerido.')
        return errors
    },
  }
};
</script>
<style scoped>
.addAccountCard {
  top: 30%;
  left: 10%;
  width: 40rem;
}
</style>
