<template>
    <v-app>
        <div class="background">
            <v-card class="loginCard" elevation="0">
                
            <v-card-title>
                <h1 class="display-1" style="color:darkblue">Iniciar Sesión</h1>
            </v-card-title>
            <v-card-subtitle>
                <p class="body-2">Ingresa tu Correo Electrónico y Contraseña</p>
            </v-card-subtitle>
            <v-card-text>
                <v-form ref="loginForm" v-model="valid"
                    :lazy-validation="lazy">
                    <v-text-field 
                    label="Correo electrónico"
                    v-model="email"
                    :error-messages="emailErrors"
                    outlined 
                    placeholder="ej.sergio@churrasco.cc"
                    @input="$v.email.$touch()"
                    @blur="$v.email.$touch()"
                    required/>
                    <v-text-field 
                    :type="showPassword ? 'text' : 'password'" 
                    label="Contraseña" 
                    outlined 
                    placeholder="Contraseña"
                    :error-messages="passwordErrors"
                    v-model="password"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showPassword = !showPassword"
                    @input="$v.password.$touch()"
                    @blur="$v.password.$touch()"
                    required/>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-checkbox
                    label="Recordar usuario"
                    v-model="checkbox"
                    @change="$v.checkbox.$touch()"
                    @blur="$v.checkbox.$touch()"
                ></v-checkbox>
                <v-spacer></v-spacer>
                <v-btn :loading="loading" color="indigo darken-4" class="white--text" rounded @click="getData">Siguiente</v-btn> 
            </v-card-actions>
            <v-card-text>
                <label v-show="res.status == 200" style="color:blue">reqres.in api successfully consumed</label>     
            </v-card-text>
            </v-card>
        </div>
        <v-footer color="blue-grey lighten-4" height="80" >
            <v-spacer></v-spacer>
            <div>
                <label>Copyright 2019 - </label>  
                <a href="https://www.testcompany.com">TestCompany</a>
            </div>
            <v-spacer/>
        </v-footer>   
    </v-app>
</template>
<script>
import { required, email } from 'vuelidate/lib/validators'
import { mapState, mapMutations } from 'vuex'
const axios = require('axios');

export default {
    data: () => ({
        showPassword: false,
        email: '',
        password: '',
        res: '',
        loading: false,
        valid: false,
        lazy: false,
        checkbox: false,
    }),
    validations: {
        email: {required, email},
        password: {required}
    },
    created () {
        if(this.stateEmail != ''){
            alert('Oops ya estas logueado!.')
            this.$router.push('/Accounts')
        }
        let isLogged = sessionStorage.getItem('email')
        if(isLogged != ''){
            this.email = isLogged
            this.checkbox = true
        }  
    },  
    computed: {
        ...mapState(['stateEmail', 'stateCheckbox']),
        emailErrors () {
            const errors = []
            if (!this.$v.email.$dirty) return errors
            !this.$v.email.email && errors.push('El e-mail debe ser valido.')
            !this.$v.email.required && errors.push('E-mail requerido.')
            return errors
        },
        passwordErrors () {
            const errors = []
            if (!this.$v.password.$dirty) return errors
            !this.$v.password.required && errors.push('Contraseña requerida.')
            return errors
        },
 
    },
    methods: {
        ...mapMutations(['setEmail', 'setCheckBox']),

        toggleCheckbox () {
            this.setCheckBox(!this.stateCheckbox) 
        },
        getData () {

            this.$v.$touch()

            if(this.checkbox) { 
                sessionStorage.setItem('email', this.email)
            }

            if (this.$refs.loginForm.validate()) {
                
                this.loading = true
                this.res = ''
                this.setEmail(this.email)

                axios.get('https://reqres.in/api/users?delay=3').then((response) => {
                    this.res = response
                    this.loading = false
                    setTimeout(() => {
                        this.$router.push('/Accounts')
                    }, 1000);
                }).catch(err => alert(err))
            }
        }
    }
}
</script>
<style scoped>
.background {
  width: 100%;
  height: 100%;
  background: url('../assets/login-bg.svg') no-repeat center center;
  background-size: cover;
}
.loginCard {
  top: 30%;
  left: 10%;
  width: 40rem;
}
</style>